a {
    cursor: pointer;
}

/*ifly-spinner*/
.ifly-spinner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.datepicker-dropdown {
    z-index: 9999 !important;
}
